#hero {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 246px);
  .col {
    width: 100%;
    display: flex;
    flex-direction: column;
    &:first-child {
      margin-bottom: 30px;
    }
    h1 {
      margin-bottom: 22px;
      font-size: 28px;
      color: white;
      font-weight: 500;
      letter-spacing: 1px;
      b {
        color: #1e99e5;
      }
    }
    p {
      color: white;
    }

    h3 {
      text-align: center;
      color: white;
      font-size: 18px;
      font-weight: 500;
    }
  }

  .exchanger-container {
    .ex-input-container {
      position: relative;
      display: flex;
      flex-direction: row;
      input {
        box-sizing: border-box;
        background: rgba($color: white, $alpha: 0.8) 0 0 no-repeat padding-box;
        border: 0;
        border-radius: 8px;
        outline: none;
        font-size: 16px;
        padding: 10px 20px;
        width: 100%;
        padding-left: 13px;
        height: 60px;
        color: #26272d;
        font-weight: 500;
        float: left;
        font-size: 25px;
        margin: 10px 0;
        text-indent: 10px;
        padding-right: 90px;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      select {
        position: absolute;
        top: 10px;
        right: 0;
        height: 60px;
        //   margin: 10px 0;
        border-radius: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size: 18px;
        text-align: center;
        border: none;
        outline: none;
        background-color: #267df4;
        color: white;
        //   padding: 0 20px;
        width: 80px;
        text-align: center;
        padding-left: 10px;
      }
    }
    .cont-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      span {
        color: white;
        font-size: 16px;
      }
      svg {
        cursor: pointer;
      }
    }

    button {
      margin-top: 10px;
      font: 500 15px Arial;
      border-radius: 8px;
      background-color: #267df4;
    }
  }
}

@media screen and(min-width: 940px) {
  #hero {
    margin-top: 100px;
    flex-direction: row;
    justify-content: space-between;
    .col {
      width: 40%;
      h1 {
        font-size: 40px;
        b {
          color: #1e99e5;
        }
      }
      p {
        font-size: 20px;
        line-height: 28px;
      }

      h3 {
        text-align: left;
        font-size: 24px;
      }
    }
  }
}
