#roadmap {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 100px;
}

#roadmap {
  .indicator-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .arrow-btn {
      height: 32px;
      width: 32px;
      background: #0b86f2;
      display: inline-block;
      border-radius: 32px;
      line-height: 32px;
      justify-content: center;
      align-items: center;
      color: white;
      cursor: pointer;
      display: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-touch-callout: none;
      -ms-user-select: none;
      user-select: none;
    }
    .map-container {
      position: relative;
      display: flex;
      flex-direction: column;
      width: auto;
      height: 400px;
      justify-content: space-between;
      align-items: center;
      &::before {
        content: "";
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-3px);
        -moz-transform: translateX(-3px);
        -ms-transform: translateX(-3px);
        -o-transform: translateX(-3px);
        transform: translateX(-3px);
        border-left: 6px dotted #e2e2e2;
      }

      .indicator-item-container {
        background-color: #f0f2f5;
        width: 32px;
        height: 32px;
        border-radius: 50px;
        border: 1px solid #e5e9ed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        cursor: pointer;
        position: relative;
        .inner-ico {
          width: 8px;
          height: 8px;
          border-radius: 50px;
          background-color: #585858;
        }
        span {
          position: absolute;
          top: 45px;
          left: 0;
          white-space: pre-wrap;
          text-transform: uppercase;
          font-size: 10px;
        }
      }
      .indicator-item-active {
        background-color: #e4e1e1;
        .inner-ico {
          background-color: #0b86f2;
        }
        span {
          color: #0b86f2;
        }
      }
    }
  }
  .content {
    margin-left: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    h1 {
      margin-bottom: 20px;
      color: #26272d;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 400;
    }
    p {
      font-size: 16px;
      margin-bottom: 25px;
      color: #8c8f94;
    }
  }
}

@media screen and(min-width: 940px) {
  #roadmap {
    margin-top: 240px;
    display: flex;
    flex-direction: column;
    margin-bottom: 240px;
  }

  #roadmap {
    .indicator-container {
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 100px;
      .arrow-btn {
        display: flex;
      }
      .map-container {
        flex-direction: row;
        position: relative;
        display: flex;
        width: 70%;
        justify-content: space-between;
        align-items: center;
        &::before {
          content: "";
          width: 100%;
          height: 2px;
          position: absolute;
          left: 0;
          top: 50%;
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
          transform: translateX(0);
          border-left: none;
          -webkit-transform: translateY(-3px);
          -moz-transform: translateY(-3px);
          -ms-transform: translateY(-3px);
          -o-transform: translateY(-3px);
          transform: translateY(-3px);
          border-top: 6px dotted #e2e2e2;
        }
        .indicator-item-container {
          span {
            white-space: nowrap;
            font-size: 14px;
            left: unset;
          }
        }
      }
    }
    .content {
      margin-left: 0;
    }
  }
}
