$blue: #1e99e5;
$green: #d3d4e3;
$red: #da003b;
$black: #1b1b1b;
$purple: #7c2ebf;
$grey: #f7f5fa;
$logGrey: #b5bcce;
$icoGrey: #d3d4e3;

$linearBg: rgba(0, 0, 0, 0)
  linear-gradient(
    0deg,
    #f7f8fa,
    rgba(82, 98, 141, 0.6),
    rgba(16, 37, 97, 0.7),
    rgba(0, 23, 86, 0.8)
  )
  0 0 no-repeat padding-box;
