footer {
  margin-top: auto;
  width: 100%;
  background-color: #ececef;
  .top,
  .bot {
    display: flex;
  }
  hr {
    border-top: 1px solid #85868675;
  }
  .top {
    padding: 40px 0;
  }
}
//top
footer {
  .top {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .col {
      margin-right: 50px;
      .col-title {
        color: $blue;
        text-transform: uppercase;
        padding-bottom: 127px;
        letter-spacing: 1.2px;
        font-size: 17px;
      }
      .col-items {
        list-style: none;
        margin-top: 23px;
        li {
          font-size: 15px;
          margin-bottom: 17px;
          a {
            text-decoration: none;
            color: #8c8f94;
            &:hover {
              color: #a9acb1;
            }
          }
        }
      }
      .fol {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
          cursor: pointer;
        }
      }
    }
  }
}

//bot
footer {
  .bot {
    padding: 24px 0;
    span {
      color: #8c8f94;
    }
  }
}
